.wrap__section-4 {
    background: #ED4C5C;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    color: $color-white;

    padding-top: 95px;
    padding-bottom: 95px;

    &__left {
        display: flex;
        flex-direction: column;

        max-width: 445px;

        h1 {
            font-size: 2.25rem;
            line-height: 2.6875rem;
        }

        p {
            margin-top: 24px;

            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: justify;
        }

        .os {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            margin-top: 44px;

            img {
                width: 24px;
                height: 24px;
            }

            img:not(:last-child) { margin-right: 25px }
        }

        @media screen and (max-width: 1040px) {
            text-align: center;

            margin: 0 auto;
            max-width: 600px;

            .os {
                justify-content: center;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 533px;

        .slider {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            &__slide {
                position: absolute;

                img {
                    width: 383px;
                    height: 267px;
                }

                z-index: 1;
                opacity: 0.5;

                &:nth-child(2) { left: -120px; }
                &:nth-child(3) { right: -120px; }

                &--active {
                    position: absolute;
                    z-index: 3;
                    opacity: 1;
                    height: 311px;

                    img {
                        width: 445px;
                        height: 311px;
                    }
                }
            }
        }

        @media screen and (max-width: 1040px) {
            margin-top: 100px;
            max-width: 100%;

            .slider {
                margin-bottom: 22px;
                margin-top: 22px;

                &__slide {
                    position: relative;

                    &:nth-child(2) { left: 120px }
                    &:nth-child(3) { right: 120px }

                    &--active {
                        position: absolute;
                        z-index: 3;
                        opacity: 1;
                    }
                }
            }
        }

        @media screen and (max-width: 770px) {
            max-width: 400px;
            margin: 100px auto 0;

            .slider {
                max-width: 560px;
            }
        }

        @media screen and (max-width: 580px) {
            .slider {
                max-width: 500px;

                &__slide, &__slide img {
                    width: 363px;
                    height: auto;

                    &--active, &--active img {
                        width: 425px;
                        height: auto;
                    }
                }
            }
        }

        @media screen and (max-width: 530px) {
            .slider {
                max-width: 300px;

                &__slide {
                    &:nth-child(2) { left: 100px }
                    &:nth-child(3) { right: 100px }
                }

                &__slide, &__slide img {
                    width: 300px;

                    &--active, &--active img {
                        width: 334px;
                    }
                }
            }
        }

        @media screen and (max-width: 430px) {
            .slider {
                &__slide {
                    &:nth-child(2) { left: 80px }
                    &:nth-child(3) { right: 80px }
                }

                &__slide, &__slide img {
                    width: 260px;

                    &--active, &--active img {
                        width: 300px;
                    }
                }
            }
        }

        @media screen and (max-width: 400px) {
            .slider {
                &__slide {
                    &:nth-child(2) { left: 100px }
                    &:nth-child(3) { right: 100px }
                }

                &__slide, &__slide img {
                    width: 250px;

                    &--active, &--active img {
                        width: 260px;
                    }
                }
            }
        }
    }
}
