.wrap__footer {
    background: #FAFAFA;
    padding-top: 85px;
    padding-bottom: 85px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h3 {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    ul {
        margin-top: 33px;
        list-style: none;
        font-size: 0.75rem;

        li {
            line-height: 1.125rem;
        }
    }

    &__services {
        ul {
            li {
                a:visited, a:link {
                    text-decoration: none;
                    color: black;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__contact {
        p {
            font-size: 0.75rem;
            line-height: 0.875rem;
        }

        p:nth-child(2) { margin-top: 33px }
        p:nth-child(3) { margin-top: 11px }

        &__social {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-top: 20px;

            img {
                width: 15px;
                height: 15px;
            }

            img:not(:last-child) {
                margin-right: 13px;
            }
        }
    }

    &__support {
        img {
            width: 216px;
            height: 31px;
            margin-top: 33px;
        }
    }

    &__address, &__services, &__contact {
        margin-right: 15px;
    }

    @media screen and (max-width: 688px) {
        &__contact { margin: 0 }
        &__support {
            width: 100%;
            margin: 35px auto 0;
            text-align: center;
        }
    }

    @media screen and (max-width: 460px) {
        &__services { margin: 0 }

        &__contact {
            margin-right: 15px;
            width: 130px;
        }

        &__support {
            max-width: 218px;
            margin: 0;
            text-align: left;
        }

        &__contact, &__support {
            margin-top: 35px;
        }
    }

    @media screen and (max-width: 392px) {
        &__address { margin: 0 }

        &__support, &__contact {
            text-align: center;
            margin: 50px auto 0;
        }
    }
}
