<div class="footer__address">
    <h3>Address</h3>

    <ul>
        <li>Pipang Ltd, Griva Digeni,</li>
        <li>81-83 Jacovides Tower, 1st Floor</li>
        <li>1090 Picosia USA</li>
    </ul>
</div>

<div class="footer__services">
	<h3>Services</h3>

	<ul>
        <li><a href="#">Overview</a></li>
		<li><a href="#">Features</a></li>
		<li><a href="#">Technology</a></li>
		<li><a href="#">Terms & Conditions</a></li>
		<li><a href="#">Privacy</a></li>
	</ul>
</div>

<div class="footer__contact">
    <h3>Get in Touch</h3>

    <ul>
        <li>info@cloudbudget.com</li>
        <li>+1 844-721-7120</li>
    </ul>

    <div class="footer__contact__social">
		<img src="assets/feather-facebook.svg" alt="">
		<img src="assets/feather-linkedin.svg" alt="">
		<img src="assets/feather-twitter.svg" alt="">
    </div>
</div>

<div class="footer__support">
    <h3>We Support</h3>

	<img src="assets/support.png" alt="">
</div>
