<section class="money">
    <div class="money__left">
        <h1>Stay focused on saving money</h1>
        
        <p>It is important to stay focused on saving money in any way you can. We help you monitor your spending habits so you can easily spot and cut any unnecessary expenses. Simply join today to get started!</p>
        
        <div class="money__left__os">
            <img src="./assets/icon-playstore.svg" alt="">
            <img src="./assets/icon-appstore.svg" alt="">
            <img src="./assets/icon-windows.svg" alt="">
        </div>
    </div>

    <div class="money__right">
        <div class="slider">
            <div class="slider__slide slider__slide--active">
                <img src="./assets/bg-Slide-1.png"/>
            </div>

            <div class="slider__slide">
                <img src="./assets/bg-Slide-2.png">
            </div>

            <div class="slider__slide">
                <img src="./assets/bg-Slide-3.png">
            </div>
	    </div>

        <div class="slider__buttons">
            <button 
                value="1" 
                class="slider__buttons--elem"
            >1</button>

            <button 
                value="2" 
                class="slider__buttons--elem"
            >2</button>

            <button 
                value="3"  
                class="slider__buttons--elem"
            >3</button>
        </div>
    </div>
</section>