<div class="contact__left">
    <h1>Contact</h1>
    <p class="desc">Questions or concerns? Just fill out the form below and our support team will get back to you within 24 hours</p>
</div>

<div class="contact__right">
	<form onsubmit="">
        <div class="contact-name">
            <input type="text" placeholder="First Name" value="">
			<input type="text" placeholder="Last Name" value="">
        </div>

		<input type="tel" placeholder="Phone Number">

		<select value="Select Service" class="select">
			<option disabled selected>Select Service</option>
			<option value="1">Service 1</option>
			<option value="2">Service 2</option>
			<option value="2">Service 3</option>
        </select>

		<input type="submit" value="Submit Now">
    </form>
</div>
