<div class="section-2">
    <div class="section-2__row-top">
        <h1>Features</h1>
    </div>

    <div class="section-2__row-bottom">
        <div class="section-2__block-1">
            <div class="section-2__block-top">
                <h1>Supports All Currencies and Cards</h1>

                <p>We support all popular currencies and is fully customizable to add</p>

				<span><a href="#">Read More</a></span>
            </div>
        </div>

        <div class="section-2__block-2">
			<div class="section-2__block-top">
				<h1>Manage your expenses on the go</h1>

                <p>You can access your account from anywhere in the world on any device</p>

				<span><a href="#">Read More</a></span>
			</div>
        </div>

        <div class="section-2__block-3">
			<div class="section-2__block-top">
                <h1>Cloud Budget Management Software</h1>

                <p>Our software is made so you can access and manage your budget</p>

                <span><a href="#">Read More</a></span>
			</div>
        </div>
    </div>
</div>
