<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{{> ../components/menu/menu }}

	{{> ../components/header/header }}

	{{> ../components/footer/footer }}
</body>
</html>
