html, body {
    font-family: $body-font;
    font-size: $base-font-size;
    color: $font-color;
}

.container {
    max-width: $desktop;

    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
}
