<section class="technology">
    <h1 class="technology__title">Technology</h1>

    <div class="technology__cards">
        <div class="technology__cards__card technology__cards__card--1">
            <h1>01</h1>
            <img src="./assets/tech-1.svg" alt="">
            <h2>Cloud Storage</h2>
            <p>Access your account from anywhere in the world on any device</p>
        </div>

        <div class="technology__cards__card technology__cards__card--2">
            <h1>02</h1>
            <img src="./assets/tech-2.svg" alt="">
            <h2>Secure</h2>
            <p>All your information is stored on secure cloud servers</p>
        </div>

        <div class="technology__cards__card technology__cards__card--3">
            <h1>03</h1>
            <img src="./assets/tech-3.svg" alt="">
            <h2>PDF Download</h2>
            <p>Download any of your reports in PDF format</p>
        </div>

        <div class="technology__cards__card technology__cards__card--4">
            <h1>04</h1>
            <img src="./assets/tech-3.svg" alt="">
            <h2>CSV Download</h2>
            <p>All your information is stored on secure cloud servers</p>
        </div>
    </div>
</section>