* { box-sizing: border-box; margin: 0; padding: 0; }

html {
    font-family: $body-font;
    font-size: $base-font-size;
    color: $font-color;
}

body {
    font-family: "Lato", sans-serif;
    transition: 1s;
}

.container {
    max-width: $desktop;
}
