$color-white: white;
$color-black: black;
$color-blue: #34ABE0;

$desktop: 1440px;
$tablet: 768px;

$font-color: $color-black;
$base-font-size: 16px;
$body-font: "Open Sans", sans-serif;
$body-weight: 400;