<nav class="nav">
    <div class="nav__logo">
        <img src="./assets/logo.svg" alt="">
    </div>
    
    <ul class="nav__menu">
        <li><a href="#">OVERVIEW</a></li>
        <li><a href="#">FEATURES</a></li>
        <li><a href="#">TECHNOLORY</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">SIGN UP</a></li>
    </ul>

    <button class="nav__login btn-2">LOGIN</button>

    <div class="nav__burger">
        <span class="line" id="line-1"></span>
        <span class="line" id="line-2"></span>
        <span class="line" id="line-3"></span>
    </div>
</nav>