<section class="section-1">
    <div class="section-1__left">
        <h1 class="section-1__left__title">
            Easy to Use Cloud Budget Management Software
        </h1>

        <p class="section-1__left__text">
            Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
        </p>

        <span class="section-1__left__more"><a href="#">Learn More</a></span>
    </div>

    <div class="section-1__right">
        <img src="./assets/bg-video.png" alt="">
    </div>
</section>