<footer class="footer">
    <div class="footer__top">
        <div class="footer__top__address">
            <h3>Address</h3>
            <p>
                Pipang Ltd, Griva Digeni, <br>
                81-83 Jacovides Tower, 1st Floor <br>
                1090 Picosia USA <br>
            </p>
        </div>

        <div class="footer__top__services">
            <h3>Services</h3>

            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privecy</a></li>
            </ul>
        </div>

        <div class="footer__top__get">
            <h3>Get in Touch</h3>

            <p class="email">info@cloudbudget.com</p>
            <p>+1 844-721-7120</p>

            <div class="footer__top__get__social">
                <img src="./assets/social-1.svg" alt="">
                <img src="./assets/social-2.svg" alt="">
                <img src="./assets/social-3.svg" alt="">
            </div>
        </div>

        <div class="footer__top__support">
            <h3>We Support</h3>

            <img src="./assets/card.png" alt="">
        </div>
    </div>

    <div class="footer__copy">
        <p>Copyright 2018 CloudBudget</p>
    </div>
</footer>