<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">

	<title>Cloud Budget</title>
</head>
<body>
	<div class="wrap wrap__header">
		{{> ../layout/menu/menu }}
		{{> ../layout/header/header }}
	</div>

	<div class="wrap wrap__section-1">
		{{> ../layout/section-1/section-1 }}
	</div>

	<div class="wrap wrap__features">
		{{> ../layout/features/features }}
	</div>

	<div class="wrap wrap__technolory">
		{{> ../layout/technology/technology }}
	</div>

	<div class="wrap wrap__money">
		{{> ../layout/money/money }}
	</div>

	<div class="wrap wrap__contact">
		{{> ../layout/contact/contact }}
	</div>
	
	<div class="wrap wrap__footer">
		{{> ../layout/footer/footer }}
	</div>
</body>
</html>
