<div class="section-3__title">
	<h1>Technology</h1>
</div>

<div class="section-3__row">
	<div class="section-3__row__block">
		<div class="section-3__img section-3__img--1"></div>
		<p class="numBig">01</p>
		<h2>Cloud Storage</h2>
		<p class="text">Access your account from anywhere in the world on any device</p>
	</div>

	<div class="section-3__row__block">
		<div class="section-3__img section-3__img--2"></div>
		<p class="numBig">02</p>
		<h2>Secure</h2>
		<p class="text">All your information is stored on secure cloud servers</p>
	</div>

	<div class="section-3__row__block">
		<div class="section-3__img section-3__img--3"></div>
		<p class="numBig">03</p>
		<h2>PDF Download</h2>
		<p class="text">Download any of your reports in PDF format</p>
	</div>

	<div class="section-3__row__block">
		<div class="section-3__img section-3__img--4"></div>
		<p class="numBig">04</p>
		<h2>CSV Download</h2>
		<p class="text">All your information is stored on secure cloud servers</p>
	</div>
</div>
