<div class="section-3__title">
	<h1>Technology</h1>
</div>

<div class="section-3__row">
	<div class="section-3__row__block section-3__row__block--1">
		<div class="section-3__img"></div>
		<h2>Cloud Storage</h2>
		<p>Access your account from anywhere in the world on any device</p>
	</div>

	<div class="section-3__row__block section-3__row__block--2">
		<div class="section-3__img"></div>
		<h2>Secure</h2>
		<p>All your information is stored on secure cloud servers</p>
	</div>

	<div class="section-3__row__block section-3__row__block--3">
		<div class="section-3__img"></div>
		<h2>PDF Download</h2>
		<p>Download any of your reports in PDF format</p>
	</div>

	<div class="section-3__row__block section-3__row__block--4">
		<div class="section-3__img"></div>
		<h2>CSV Download</h2>
		<p>All your information is stored on secure cloud servers</p>
	</div>
</div>
